/* стили для .page*/
.page {
    width: 770px;
    margin: auto;
}

/* стили для блока about */
.about {
    padding: 15px;
    border-radius: 10px;
}

/* стили для блока services */
.service-item {
    width: 370px;
    padding: 140px 20px 40px;
    text-align: center;
}

/* стили для блока news */
